[Unit]
Description=Elasticsearch 7.17.29
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=elasticsearch
PrivateTmp=true
Environment=ES_HOME={{ elasticsearch_home }}
Environment=ES_PATH_CONF={{ elasticsearch_home }}/config
Environment=PID_DIR=/var/run/elasticsearch
EnvironmentFile=-/etc/default/elasticsearch
Environment="ES_JAVA_OPTS=-javaagent:{{ jmx_exporter_dir }}/{{ jmx_exporter_file_name }}={{ jmx_exporter_elasticsearch_port }}:{{ jmx_exporter_dir }}/elasticsearch.yml"

WorkingDirectory={{ elasticsearch_home }}
ExecStart={{ elasticsearch_home }}/bin/elasticsearch
User={{ elasticsearch_user }}
Group={{ elasticsearch_group }}
StandardOutput=journal
StandardError=inherit
LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143
TimeoutStartSec=20

[Install]
WantedBy=multi-user.target
